* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root>#main-content {
  flex-grow: 1;
}

body {
  color: #000000;
  background-color: #ffffff;
}

html::-webkit-scrollbar {
  background: #071013;
  width: 10px
}

html::-webkit-scrollbar-thumb {
  background: #44575f;
  border: 1px solid #000;
  border-radius: 5px
}

/* Global */
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

a>button {
  width: 100%;
  height: 100%;
  margin: 0
}

button,
input[type="submit"] {
  color: #ffffff;
  background-color: #0a80d7;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid white;
  font-size: 14px;
}

button:hover,
input[type="submit"]:hover {
  background-color: #076591;
}

button[disabled],
input[type="submit"][disabled] {
  cursor: not-allowed;
  opacity: .65;
}

form input,
form button {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.container {
  width: 95%;
  margin: auto;
}

.field-error {
  color: red;
}

.error-message {
  text-align: center;
  color: red;
}

.red-border {
  border-color: red;
}

.red {
  background-color: #c0250e;
}

.green {
  background-color: #76b711;
}

.round-bordered-subject {
  border: 2px solid rgb(0, 0, 0);
  color: black;
  padding: 10px;
  border-radius: 25px;
  background-color: #bdbdc2;
}

#main-content-centered-element {
  width: 45%;
  padding: 5px;
  margin: auto;
}

.search-field>input {
  width: 100%;
  line-height: 20px;
  font-size: 20px;
  border-radius: 6px;
  color: black;
  background-color: #ffffff;
  border: 1px solid #30363d;
}

/* Header*/
header {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: #171e21;
  color: white;
  padding: 5px;
  box-shadow: 0 0 10px -1px #071013;
}

header .logotype img {
  height: 50px;
  width: 50px;
}

header .logotype h1 {
  display: inline-block;
  margin: 0;
}

header .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0px;
  list-style-type: none;
}

header .menu li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2.5px;
  padding: 5px 7px;
}

.profile-login {
  font-size: 16px;
}

.sign-out-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.sign-out-button>svg {
  fill: #3c879c;
  transition: fill .5s ease-out;
}

.sign-out-button:hover {
  background: none;
}

.sign-out-button:hover>svg {
  fill: #5ff5ff;
}

/* Navigation */
nav {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  margin-top: 68px;
  padding: 0;
  background-color: #b4b6c0;
  border-bottom: 3px solid rgba(49, 44, 44, 0.55);
}

nav * {
  flex-grow: 1;
  display: block;
  min-height: 40px;
  background: none;
  border-radius: 0;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.164);
  border-right: 1px solid rgba(0, 0, 0, 0.164);
  color: black;
  margin: 0;
  font-size: 24px;
}

/* Footer */
footer {
  background-color: #171e21;
  padding: 25px 15px;
}

footer select {
  display: block;
  margin: auto;
  background-color: #3c879c;
  color: #161e21;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: color .3s ease, background .3s ease, box-shadow .3s ease;
  padding: 5px;
}

footer select:hover {
  background-color: #5ff5ff;
}

footer select option {
  background-color: #171e21;
  color: #aab3b6;
  padding: 5px;
  border: 0;
  outline: 0;
}

/* Pagination */
#pagination {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 10px auto;
  padding: 5px;
}

#pagination>* {
  display: block;
  margin: 0 5px;
}

#pagination>* * {
  font-size: 20px;
}

#pagination input {
  width: 125px;
}

/* Login Form*/
.login-form {
  width: 340px;
  margin: 36px auto;
  padding: 20px;
}

.login-form input,
.login-form button {
  width: 100%;
  padding: 5px 12px;
  line-height: 20px;
  display: block;
  margin: 14px auto;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  border-radius: 6px;
  color: #000000;
  background-color: #ffffff;
}

/* Main Page */
.main-page-message {
  text-align: center;
  margin-top: 30px;
}

/* Books, Users, Orders Page */
.block-container {
  height: max-content;
  width: 100%;
  margin: 8px auto;
}

.block-container h1,
.block-container p {
  overflow: auto;
  margin: 10px auto;
}

.block-container h1 {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  margin: 10px auto;
}

.block-container .block-parameters {
  display: block;
  width: 100%;
}

.block-parameters * {
  display: block;
  text-align: left;
  font-size: 18px;
  width: 100%;
}

.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.buttons-container * {
  min-width: 25%;
  min-height: 60px;
  font-size: 20px;
}

.buttons-container>* {
  margin: 10px auto;
}

.order-options-container {
  display: block;
  width: 100%;
}

.order-options-container>button {
  display: block;
  margin: 10px auto;
  width: 80%;
  min-height: 45px;
}

/* Subject change forms */
.changes {
  padding: 15px;
}

.changes>label,
.changes>input {
  display: block;
}

.changes>input[type="text"] {
  width: 100%;
}

.changes>label {
  margin-top: 14px;
  margin-bottom: 7px;
}

.changes>label:first-child {
  margin-top: 0px;
}

.changes>input,
.changes>select {
  padding: 5px 12px;
  line-height: 20px;
  margin: 0;
  border: 1px solid #30363d;
  border-radius: 6px;
  color: #000000;
  background-color: #ffffff;
}

@media screen and (max-width: 480px) {

  /* General */
  #main-content-centered-element {
    width: 95%;
  }

  /* Navigation */
  nav {
    display: block;
    border-bottom: none;
  }

  nav * {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    width: 100%;
  }

}